.install-data-source {
	.choose-data-source {
		display: flex;
		align-items: center;
		justify-content: space-around;

		.select-component {
			margin: 40px 0;
		}
	}
}

.wrapper {
	.btn-wrapper {
		margin-bottom: 40px;

		.btn {
			margin-right: 10px;
		}
	}
}