.contact-settings {
	padding: 24px;

	.fields-header {
		margin-bottom: 20px;
	}

	.fields-toolbar {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 24px;
	}
}
